<h1>Photo Details </h1>

<dl>
  <dt>Image</dt>
  <dd><img src="<%= @the_photo.image %>"</dd>

  <dt>Caption</dt>
  <dd><%= @the_photo.caption %></dd>
  
  <dt>Owner</dt>
  <dd><%= @the_photo.poster.username %></dd>

  <dt>Post date</dt>
  <dd><%= @the_photo.created_at %></dd>

    <dt>Edit photo</dt>
      <dd>
      <form action="/edit_photo/<%= @the_photo.id %>">

      <label for="alpha">Image</label>
      <input id="alpha" type="text" name="image" value="<%= @the_photo.image %>">
      
      <label for="beta">Caption</label>
      <textarea id="beta" type="text" name="caption"><%= @the_photo.caption %>></textarea>
      
      <button type="submit">Update photo</button>
     
      </form>
      </dd>

  <dt>Delete photo</dt>
  <dd><a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a></dd>

</dl>


<h2>Comments</h2>


<table border="1">

  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
    
  </tr>





  <% @list_of_comments = @the_photo.comments %>
  
  <%  @list_of_comments.each do |a_comment| %>
    <tr>
      <td><%= a_comment.commenter.username %></td>
      <td><%= a_comment.body %></td>
      <td><%= a_comment.created_at %></td>
    </tr>
  <% end %>

  </table>

<hr>


Add a new comment
