<h1>Photo Details </h1>

<dl>
  <dt>Image</dt>
  <dd><img src="<%= @the_photo.image %>"</dd>

  <dt>Caption</dt>
  <dd><%= @the_photo.caption %></dd>
  
  <dt>Owner</dt>
  <dd><%= @the_photo.poster.username %></dd>

  <dt>Post date</dt>
  <dd><%= @the_photo.created_at %></dd>

    <dt>Edit photo</dt>
    <form>
    <label for="zebra">Fan</label>
    <input id="zebra" type="text" name="qs_fan_id">
    </form>

  <dt>Delete photo</dt>
  <dd><a href="/delete_photo/<%= @the_photo.id %>">Delete this photo</a></dd>

</dl>


<h2>Comments</h2>


<table border="1">

  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
    
  </tr>


  @list_of_comments = @the_photo.comments
  
  <%  @list_of_comments.each do |a_comment| %>
    <tr>
      <td><%= a.comment.commenter.username %></td>
      <td><%= a.comment.body %></td>
      <td><%= a.comment.created_at %></td>
    </tr>
  <% end %>


</table>

  <h3>Add a new comment</h3>

  <form>
  <label for="zebra">Fan</label>
  <input id="zebra" type="text" name="qs_fan_id">
  </form>
